body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 800px;
    border: black solid 2px;

}

button {
    border: none;
    font-family: sans-serif, arial;
    padding: 12px 40px;
    background-color: rgb(6, 102, 147);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    margin: 24px 0px 80px;
}

.boxes {
    background-color: rgb(255, 255, 255);
  }

  .boxes.hovered {
    background-color: black;
  }